// COLORS
$color-primary: #41a3ff;
$color-primary-light: #837bee;
$color-primary-dark: #4a3bd4;

$color-secondary-light: hsl(44, 100%, 50%);
$color-secondary-dark: #ff7730;

$color-tertiary-light: #cde7ff;
$color-tertiary-dark: #87acfa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: rgb(95, 95, 95);
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(110, 110, 110);

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
